/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 10px 0;

}
.container1{
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 8px 30px;
    background-color: rgb(206, 36, 87);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 8px;
    
}
h2{
    font-size:28px ;
    font-weight: 700;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
h4{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}
p{
    font-size:10px ; 
    color: grey;
    line-height: 1.5;
}
a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}
/* body */

/* Header */
header{
    background-color: #3d3d84;
    font-size: 10px;
    color: white;
    font-weight: 700;
}
.header-info span{
    margin-right: 20px;
}
.header-nav a{
    color: white;
    margin-left: 25px;
    font-size: 11px;
}
.nav-header{
    background-color: white;
}
/* Hero section */

.hero-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #3d3d84;
    margin-left: 20px;
    font-size: 10px;
    font-weight: 700;

}
.header-logo img{
    width: 80px;
}
/* h5{
    color: #3d3d84;
    font-weight: 900;
    font-size: 17px;
}
h5 span{
    color:rgb(206, 36, 87); 
    font-weight: 900;
} */
/* hero-section1 */
.hero1{
    background: url("assets/hero/h1_hero.jpg") no-repeat; 
    background-size: cover;
    background-position: 40% 100%;
    padding: 20px 0;

}
.hero .btn{
    color: white;
}
h1{
    font-size: 50px;
    font-weight: 900;
    width: 400px;
    margin: 10px 0 20px 0;
    color: #141446;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-stretch: ultra-expanded;
    
}
.hero1-sect2{
    padding: 200px 0 100px 50px;
}
.hero1 p{
    color:rgb(206, 36, 87);
    
}
/* team section */
.team-section{
    padding: 50px 0;
}
.line{
    width: 100px;
    background-color:rgb(206, 36, 87);
    height: 2px;
    margin: 10px 0;

}
.team-block{
    flex: 0 1 28%;
    box-sizing: border-box;

}
.team-block img{
    width: 100%;
}
.block3{
    border: 2px solid rgb(206, 36, 87) ;
    padding: 20px;
}
.block3 a{
    padding: 10px 0;
    font-size: 9px;
    color: rgb(78, 76, 76);
    font-weight: bold;
}
.team-block p{
    font-size: 9px;
    line-height: 1.8;
    color: rgb(78, 76, 76);
    margin: 10px 0;
}
/* section2 */
.section2{
    /* background: url("assets/team/wetrusted.jpg") no-repeat;
    background-size: 30%;
    background-position: 20% 100%; */
    margin: 50px 0;
  

}
.section2 img{
    width: 400px;
    height: 400px;
 
}
.block4{
    flex: 0 1 60%;
    padding-right: 400px;
    height: 300px;
    margin-top:60px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    position: relative;
    right: 100px;
    top: 50px;
    box-sizing: border-box;
  
}
.block4 p{
padding: 20px 0;
font-size:10px ;
color: grey;
font-weight: 200;
}
/* Article ourservices */
.services h2{
    text-align: center;
    padding: 80px 0;
}
.services-block{
    flex: 0 1 30%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;    
}
.services-block p{
    color: rgb(87, 80, 80);
}
.services-btn{
    text-align: center;
    margin: 50px 0;
}
.services-btn  .btn{
    background-color: white;
    color: rgb(206, 36, 87);
    border: 2px solid rgb(206, 36, 87) ;
    text-align: center;
    font-size: 9px;
}
/* cases */
.cases{
    background: url("assets/cases/completed_case_2.png") 74% 0 no-repeat, url("assets/cases/completed_case_1.png") 100% 0 no-repeat;

    height: 400px;
    background-size: 20%;
    margin: 80px 0;

}
.cases .btn{
    background-color: white;
    color: rgb(206, 36, 87);
    border: 2px solid rgb(206, 36, 87) ;
    font-size: 9px;
}
.cases-box{
    width: 300px;
    padding: 40px 0;
}
.cases-box p{
    margin: 10px 0 20px 0;
}
/* section-Block */
.section-block5{
    text-align: center;
    display: flex;
    justify-content: center;
}
.block5{
    width: 300px;
    height: 400px;
   
    padding: 20px;
}
.block5 p{
    margin: 9px 0;
    color: black;
}
.bolck5-para{
font-size: 10px;
}
.name span{
    color: gray;
}
.star{
    color: yellow;
}
.block5 span{
    font-size: 8px;
}
/* recent news */
.recent-news h2{
    text-align: center;
    margin: 10px 0;
}
.news-pic{
    flex: 0 1 30%;
    padding: 10px;

}
.news-pic img{
    width: 100%;
}
.news-pic h6{
    font-size: 12px;
}
.plans{
    font-size: 11px;
    display: block;
    color: rgb(206, 36, 87);
    padding-left: 15px;
}
h6{
    font-size: 17px ;
    font-weight: 700;
    margin: 20px 0 10px 0;
    padding-left: 15px;
}
.date{
    color: gray;
    font-size: 8px;
    padding-left: 15px;
}
/* call back */
.call-back{
    background-color: #3d3d84;
    color: white;
    padding: 30px 0;
    margin: 80px 0;

}
.flex1{
    display: flex;
    justify-content: space-between;
}
.left-col{
    width: 30%;
    box-sizing: border-box;
}
.left-col h4{
    font-size: 24px;
    font-weight: 700;
}
.right-col{
    flex: 0 1 60%;
    margin-left: 100px;
    box-sizing: border-box;
}
.right-col-block1{

    margin: 10px 0;
}
.call-name{
    font-size: 8px;
    border: 1px solid rgb(139, 139, 139);
    padding: 5px 150px 5px 8px;
    display: inline-block;
}
.call-phone{
    font-size: 8px;
    border: 1px solid rgb(139, 139, 139);
    padding: 5px 150px 5px 8px;
    display: inline-block;
    margin-left: 8px;
}
.call-services{
    font-size: 8px;
    border: 1px solid rgb(139, 139, 139);
    padding: 5px 200px 5px 8px;
    display: inline-block

}
.btm1{
    display: inline-block;
    padding: 8px 48px;
    background-color:rgb(206, 36, 87); 
    color: white;
    font-size: 10px;
    margin: 0 10px;
}
/* footer-info */
.footer{
    padding: 50px 0;
}
.footer li{
    color: gray;
}
.footer-info1{
    flex: 0 1 22%;
    box-sizing: border-box;
}
.footer-info1 img{
    width: 100px;
    margin: 10px 0;
}
.footer-info1 p{
    color: gray;
    line-height: 1.5;
    font-size: 9px;
}
.footer-info{
    flex: 0 1 19%;
    box-sizing: border-box;
}
.footer-info a{
    color: gray;
    font-size: 10px;
}
.footer h6{
    font-size: 15px;
    color: #3d3d84;
    padding-left: 0;
}
.footer span{
    color: rgb(206, 36, 87); ;
}

.flex2{
    display: flex;
    justify-content: left;
}
.flex2 a{
    margin:20px 20px 0 0;
    
}
.information li{
    font-size: 12px;
    line-height: 1.5;
    margin: 10px 0;
}
/* footer */
footer{
    font-size: 8px;
    text-align: center;
    color: gray;
    padding: 50px 0;
    word-spacing: 5px;
}


/*                               Blog                                     */
/* general */
.container2{
    width: 950px;
    margin: 0 auto;
}
.blog-aside{
    flex: 0 1 70%;
    margin: 50px 0;
    padding-right: 80px;
    box-sizing: border-box;
}
.side-section{
    flex: 0 1 25%;
    margin: 100px 0;
}
.flex-blog{
    display: flex;
    justify-content: space-between;

}
.side-section h4{
    font-size: 20px;
    margin: 30px 0;
}



/* hero section */
.hero2{
    background: url("assets/hero/blog_hero.jpg") 0 0 no-repeat;
    padding: 100px 0;
    background-size: cover;
    
}
.hero2 h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
/* blog-aside */
.blog-aside img{
    width: 600px;
}


.aside-img{
    margin-top: 50px;
    
}

.blog-aside span{
    font-size:10px;
    color: gray;
    padding-left: 15px;
    margin-top: 20px;
    display: inline-block;

}
.blog-aside p{
    padding-left: 15px;
    color: rgb(39, 38, 38);
} 
.comments{
    border-right: 1px solid gray;
    padding-right: 10px;
}
.aside-date{
    background-color: rgb(206, 36, 87);
    color: white;
    
    font-size: 14px;
    font-weight: 700;
    padding: 20px 10px;
    position: relative;
    display: inline-block;
     left:50px;
    bottom: 35px;
}
/* side-section */

.side-section-block1 ul{
    margin: 50px 0;
}
.side-section-block1 li{
    font-size: 9px;
    margin: 10px 0;
    color: rgb(46, 44, 44);
}
.search{
    margin-left: 10px;
    background-color: rgb(206, 36, 87);
    color: white;
    padding: 2px 5px;
}
.side-btn{
    padding: 3px 90px;
    color: rgb(206, 36, 87)  ;
    border:1px solid rgb(206, 36, 87) ;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    margin: 10px 0;
    font-weight: 100;
}
/* recent post */
.recent-img{
    flex: 0 1 0%;
    margin: 20px 0;
}

.recent-post{
    flex: 0 1 80%;
    font-size: 8px;
    color: gray;
    margin-left: 10px;
}
/* tag clouds */
.flex-side-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 200px;
}
.flex-side-block p{
    color: gray;
    font-size: 10px;
    padding-left: 20px;
}
.flex-side-block img{
    width: 50px;
    height: 50px;
    margin:10px 0 0 10px;
}

/*           about          */

.hero-about{
    background: url("assets/hero/about_hero.jpg") 0 0 no-repeat;
    padding: 100px 0;
    background-size: cover;
    
    
}
.hero-about h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
/*     services   */
.hero-services{
    background: url("assets/hero/services_hero.jpg") 0 0 no-repeat;
    padding: 100px 0;
    background-size: cover;
    
    
}
.hero-services h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
/*    cases  */
.hero-cases{
    background: url("assets/hero/cases_hero.jpg") 0 0 no-repeat;
    padding: 100px 0;
    background-size: cover;
    
    
}
.hero-cases h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
/* case study section */
.case-study{
    margin: 100px 0;
}
.flex-cases{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.case-study img{
    width: 280px;
    height: 250px;
}
.case-text-box{
    background-color: white;
    width: 150px;
    position: relative;
    bottom: 80px;
    padding-top: 1px;
}
.case-text-box h6{
    font-size: 15px;
}

/*                              contact us                         */
.hero-contact{
    background: url("assets/hero/contact_hero.jpg") 0 0 no-repeat;
    padding: 100px 0;
    background-size: cover;
    
    
}
.hero-contact h3{
    color: white;
    text-align: center;
    font-size: 30px;
}
.contact-map{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("assets/map.jpg") 0 0 no-repeat;
    height:400px ;
    background-size: cover;
    margin-top: 50px;
}
.contact-list{
    margin: 10px 0;
}
.contact-list span{
    font-size: 12px;
    padding-left: 8px;
}
.contact-list p{
    padding-left: 18px;
    font-size: 8px;
    color: gray;
    margin: 10px 0;
}

.contact-details{
    margin: 20px 0 50px 0;
    padding-top: 30px;
}
.form-name{
    margin: 10px 0;
}